﻿<div class="jumbotron">
    <h1>ministock-management</h1>
    <center>
        <p class="lead">Web API escrita em C# para a manipulação de Ordem e Ativos.</p>
        <p><a href="/Help" class="btn btn-primary btn-lg">Documentação &raquo;</a></p>
    </center>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Implementação</h2>
        <p>O código desta aplicação encontra-se disponível no GitHub,
        assim como os recursos necessários para sua execução (script para gerar tabelas no banco).</p>
        <p><a class="btn btn-default" href="https://github.com/Hguimaraes/ministock-management">Acesse aqui &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Postman</h2>
        <p>Uma forma prática e rápida para testar a API é utilizando o Postman, que permite que você realize requisições HTTP
        através de uma interface simples e intuitiva. Exemplos de utilização do Postman podem ser encontrados <a href="https://github.com/Hguimaraes/ministock-management#regras">aqui</a>.</p>
        <p><a class="btn btn-default" href="https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop">Acesse aqui &raquo;</a></p>
    </div>
</div>
